@import 'libs/reset';
@import 'libs/vars';
@import 'libs/extend';
@import 'libs/mixin';
@import 'base/typography';
@import 'base/button';


/* Basic */
input[type=text]{
	width: 100%;
	background: #f2f6f9;
	border: 1px solid #e9e9e9;
	padding: 5px 10px;
	margin-bottom: 20px;
	border-radius: 3px;
	&:focus{
		border: 1px solid #2b62c9;
		box-shadow: none;
	}
}
.in-color{
	color: $color;
	display: inline-block;
}
.section-padding{
	padding: 100px 0;
	overflow: hidden;
}
.divider{
	width: 100%;
	margin-bottom: 65px;
	&:after{
		display: block;
		clear: both;
		content: '';
	}
}

// Layout.

	@import 'layout/header';
	@import 'layout/intro';
	@import 'layout/banner';
	@import 'layout/feature';
	@import 'layout/module';
	@import 'layout/testimonial';
	@import 'layout/call-to-action';
	@import 'layout/footer';


/* Responsive styles */
@media only screen and (min-width : 320px) and (max-width : 991px) {
	/* Styles */
	.wp-erp-header-area{
		.navbar{
			.wp-erp-btn{
				display: block;
				margin-left: 1rem;
				margin-bottom: 1rem;
				margin-right: 1rem;
			}
			.dropdown-menu{
				margin-left: 12px;
			}
		}
		#wpERPNav{
			@include iconGradient( #059bf5, #17c3f3 );
		}
	}
	.wp-erp-wel-area{
		.wp-erp-wel-content{
			text-align: center;
			padding-top: 0;
			h1{
				br{
					display: none;
				}
			}
			.wp-erp-btn{
				margin-bottom: 1rem;
			}
		}
		.wp-erp-home-thumb{
			margin: 50px 0 0 0;
			padding:30px;
			img{
				width: 100%;
			}
		}
	}
	.wp-erp-banner-box{
		text-align: center;
		img{
			float: none;
		}
		h3{
			margin-top: 10px;
		}
	}
	.wp-erp-feature-block{
		margin-bottom: $mb;
	}
	.wp-er-module-image{
		margin-left: 0 !important;
		margin-right: 0 !important;
		margin-bottom: $mb;
		.wp-erp-module-badge{
			/*right: 0;*/
			right: 50% !important;
			margin-right: -60.5px;
		}
		.wp-erp-module-pulsing{
			left: 50% !important;
			margin-left: -40px;
		}
	}
	.crm-btn, .pms-btn{
		margin-bottom: $mb;
	}
	.wp-erp-reviews-block{
		margin-bottom: $mb;
	}
}

@media only screen and (min-width : 320px) and (max-width : 667px) {
	.wp-erp-wel-area{
		.wp-erp-wel-content{
			h1{
				font-size: 36px;
				line-height: 50px;
				br{
					display: none;
				}
			}
		}
		.wp-erp-home-thumb{
			margin: 50px 0 0 0;
			padding:30px;
			img{
				width: 100%;
			}
		}
	}
	.wp-erp-banner-box{
		padding: 20px;
	}
	.wp-erp-footer{
		text-align: center;
	}
}

