html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: "Muli", sans-serif;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

html, body {
  line-height: 1;
  color: #696969;
  height: 100%; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1 {
  font-family: "Play", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 77px;
  line-height: 74px; }

h2 {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 66px; }

h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 700; }

h3 {
  font-size: 49px; }

h4 {
  font-size: 21px; }

h5 {
  font-size: 13.61px; }

p {
  font-size: 1em;
  line-height: 1.5em; }

/* Header */
#ed-header {
  display: none; }

.ev-wlc-area {
  position: relative;
  height: 100%;
  background-color: #444444;
  background-image: url("../images/bg01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }
.ev-wlc-cal-details{
	position: relative;
	z-index: 1;
}
.ev-wlc-cal-details:after{
	position: absolute;
	left: 0;
	top: 0;
	background-color: #313131;
	opacity: .7;
	content: '';
	width: 100%;
	height: 100%;
	z-index: -1;
}
ul.ev-countdown li {
    display: inline-block;
    margin-right: 30px;
    color: #fff;
}
ul.ev-countdown {
    text-align: center;
    margin-bottom: 35px;
    text-transform: uppercase;
    font-weight: bold;
}
.en-cal {
    text-align: center;
}
.ev-volume{
    margin-top: 60px;
    overflow: hidden;
    padding: 30px 0;
    background-color: #313131;
    background-image: url("../images/bg-line.png");
    background-repeat: no-repeat;
	/*background-size: cover;*/
	/*background-position: center center; */
	text-align: center;
}
.ev-volume .ev-seats, .ev-volume .ev-speaker{
    width: 50%;
    float: left;
}
.ev-sponsor	{
	text-align: center;
	padding: 30px 0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d42531+33,db7a3b+66 */
	background: #d42531; /* Old browsers */
	background: -moz-linear-gradient(left, #d42531 33%, #db7a3b 66%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #d42531 33%,#db7a3b 66%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #d42531 33%,#db7a3b 66%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d42531', endColorstr='#db7a3b',GradientType=1 ); /* IE6-9 */
}
.ev-wlc-cal-details footer{
	padding: 15px;
}
.ev-seats, .ev-speaker {
	position: relative;
}
.ev-seats span, .ev-speaker span {
    background: #444444;
    width: 60px;
    height: 60px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    line-height: 82px;
}

.ev-seats span img, .ev-speaker span img {
    max-width: 100%;
}
/*# sourceMappingURL=main.css.map */
