html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: "Muli", sans-serif;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

html, body {
  line-height: 1;
  color: #696969;
  height: 100%; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1 {
  font-family: "Play", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 75px;
  line-height: 74px; }

h2 {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 66px; }

h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 700; }

h3 {
  font-size: 49px; }

h4 {
  font-size: 21px; }

h5 {
  font-size: 13.61px; }

p {
  font-size: 1em;
  line-height: 1.5em; }

/* Header */
#ev-header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2; }

.navbar-nav li a {
  color: #fff; }

#ev-header-sticky-wrapper {
  position: absolute;
  width: 100%; }

.is-sticky #ev-header {
  z-index: 9 !important;
  background: #444444; }

/* Welcome */
.ev-wlc-area {
  position: relative;
  height: 100%;
  background-color: #444444;
  background-image: url("../images/bg01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }

.ev-wlc-lef-content {
  padding-top: 280px;
  color: #fff; }
  .ev-wlc-lef-content h1 > span.text-big {
    font-size: 147px; }
  .ev-wlc-lef-content > p:first-child {
    font-family: "Open Sans", sans-serif;
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 30px; }

.ev-wlc-cal-details {
  position: relative;
  z-index: 1;
  margin-top: 100px; }
  .ev-wlc-cal-details:after {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #313131;
    opacity: .7;
    content: '';
    width: 100%;
    height: 100%;
    z-index: -1; }
  .ev-wlc-cal-details footer {
    padding: 15px; }
  .ev-wlc-cal-details .ev-cal-bar {
    background: #3f3f3f;
    width: 100%;
    height: 15px;
    display: block;
    z-index: 1;
    -webkit-box-shadow: 0px 5px 12px -2px #000000;
    box-shadow: 0px 5px 12px -2px #000000; }

.ev-countdown {
  text-align: center;
  margin-bottom: 35px;
  text-transform: uppercase;
  font-weight: bold; }

.ev-countdown li {
  display: inline-block;
  margin-right: 30px;
  color: #fff; }

.en-cal {
  padding: 50px 0;
  text-align: center; }

.ev-volume {
  overflow: hidden;
  position: relative;
  padding: 50px 0;
  background-color: #313131;
  background-image: url("../images/bg-line.png");
  background-repeat: no-repeat; }
  .ev-volume > .media {
    width: 50%;
    float: left;
    padding-left: 12%; }
    .ev-volume > .media > span {
      width: 60px;
      height: 60px;
      text-align: center;
      line-height: 88px;
      border-radius: 50%;
      background: #444444;
      overflow: hidden; }
  .ev-volume:after {
    position: absolute;
    width: 01px;
    height: 80%;
    content: '';
    left: 50%;
    top: 10%;
    background-image: url(../images/border.png); }

.ev-seats-icon, .ev-seats-content, .ev-speaker-icon, .ev-speaker-content {
  width: 50%;
  float: left; }

.ev-sponsor {
  text-align: center;
  padding: 30px 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d42531+33,db7a3b+66 */
  background: #d42531;
  /* Old browsers */
  background: -moz-linear-gradient(left, #d42531 33%, #db7a3b 66%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #d42531 33%, #db7a3b 66%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #d42531 33%, #db7a3b 66%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d42531', endColorstr='#db7a3b',GradientType=1 );
  /* IE6-9 */ }

/*# sourceMappingURL=main.css.map */
