html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Variables */
.wp-erp-btn.active-btn, .wp-erp-header-area .navbar-nav .dropdown-menu, .wp-erp-wel-area .wp-erp-wel-content .wp-erp-btn-fill:first-child, .wp-erp-banner-box, .wp-erp-feature-block.gradient, .wp-erp-module-area .wp-er-module-image > img, .wp-erp-toggle .card .card-header h4 a .wp-erp-toggle-icon {
  -webkit-box-shadow: 0px 10px 34px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 10px 34px -2px rgba(0, 0, 0, 0.2); }

.wp-erp-wel-area {
  background-image: -webkit-linear-gradient(bottom, #00baf9, #00a7fb, #0093fb, #007ef6, #0065ec);
  background-image: linear-gradient(to top, #00baf9, #00a7fb, #0093fb, #007ef6, #0065ec); }

.wp-erp-call-to-action-area {
  background: #00bbf9;
  background: -webkit-linear-gradient(left, #00bbf9 0%, #006eed 73%, #0066ec 100%);
  background: linear-gradient(90deg, #00bbf9 0%, #006eed 73%, #0066ec 100%); }

html, body {
  width: 100%;
  height: 100%; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  color: #737779;
  font-size: 1em;
  line-height: 1.5em; }

h1, h2, h3, h4, h5, h6 {
  color: #1b1b1b;
  font-weight: 700;
  margin-bottom: 1rem; }

h1 {
  font-size: 51.8px;
  line-height: 70px;
  font-weight: 900; }

h2 {
  font-size: 36px;
  line-height: 50px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 20px; }

a {
  font-size: 18px;
  text-decoration: none;
  color: #737779; }
  a:hover {
    text-decoration: none;
    color: #2b62c9; }

p {
  margin-bottom: 1rem; }

p.p-big {
  font-size: 30px;
  line-height: 45.43px;
  color: #c0ebff;
  margin-bottom: 33px; }

p.p-home {
  font-size: 18px;
  line-height: 26px;
  color: #a4e2ff;
  margin-bottom: 60px; }

.wp-erp-section-title {
  margin-bottom: 70px; }
  .wp-erp-section-title h2 {
    font-weight: 900; }

/* WP ERP Button */
.wp-erp-btn {
  display: inline-block;
  padding: 15px 5px;
  color: #57ddff;
  font-size: 1em;
  font-weight: normal;
  line-height: 18px;
  text-transform: capitalize;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s; }
  .wp-erp-btn > i {
    margin-right: 5px;
    font-size: 14px; }
  .wp-erp-btn:hover {
    color: #fff; }
  .wp-erp-btn.active-btn {
    background: #14d6e8; }

.wp-erp-btn-fill {
  background: #37b6ff;
  padding: 15px 20px;
  color: #fff;
  border-radius: 3px;
  margin-right: 15px;
  /*@extend %shadow;*/ }
  .wp-erp-btn-fill:hover {
    background: #00e9ff;
    color: #fff;
    /*@extend %hover-shadow;*/ }

/* Basic */
input[type=text] {
  width: 100%;
  background: #f2f6f9;
  border: 1px solid #e9e9e9;
  padding: 5px 10px;
  margin-bottom: 20px;
  border-radius: 3px; }
  input[type=text]:focus {
    border: 1px solid #2b62c9;
    box-shadow: none; }

.in-color {
  color: #57ddff;
  display: inline-block; }

.section-padding {
  padding: 100px 0;
  overflow: hidden; }

.divider {
  width: 100%;
  margin-bottom: 65px; }
  .divider:after {
    display: block;
    clear: both;
    content: ''; }

/* HEADER AREA CSS */
.wp-erp-header-area {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9; }
  .wp-erp-header-area a {
    color: #fff;
    font-size: 1em; }
  .wp-erp-header-area .navbar {
    padding: 20px 0; }
    .wp-erp-header-area .navbar .wp-erp-btn {
      color: #4ed3ff;
      border: 1px solid transparent;
      padding: 10px 20px;
      border-radius: 3px;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s; }
      .wp-erp-header-area .navbar .wp-erp-btn:hover {
        border: 1px solid #4ed3ff; }
    .wp-erp-header-area .navbar .wp-erp-btn-fill {
      background: #fff;
      padding: 15px 20px;
      color: #2b62c9;
      border-radius: 3px;
      margin-right: 15px;
      /*@extend %shadow;*/
      padding: 10px 20px;
      margin-right: 0; }
      .wp-erp-header-area .navbar .wp-erp-btn-fill:hover {
        background: #fff;
        color: #2b62c9;
        /*@extend %hover-shadow;*/ }
      .wp-erp-header-area .navbar .wp-erp-btn-fill:hover {
        border: 1px solid #fff; }
  .wp-erp-header-area .navbar-nav > li a {
    padding: 6px 12px !important;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; }
    .wp-erp-header-area .navbar-nav > li a:hover {
      background: #0e72f9;
      color: #47c7fc; }
  .wp-erp-header-area .navbar-nav .dropdown-toggle:after {
    border: none;
    width: 10px;
    height: 6px;
    margin-left: 11px;
    vertical-align: middle;
    background-image: url("../images/arrow.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    -webkit-transition: all 0.08s;
    -moz-transition: all 0.08s;
    transition: all 0.08s; }
  .wp-erp-header-area .navbar-nav .dropdown-toggle:hover:after {
    background-position: 0px -6px; }
  .wp-erp-header-area .navbar-nav .dropdown-menu {
    padding: 12px;
    border: none;
    width: 254px; }
    .wp-erp-header-area .navbar-nav .dropdown-menu > a {
      color: #737779;
      font-size: 1em;
      padding: 15px !important;
      border: 2px solid #fff;
      border-radius: 3px; }
      .wp-erp-header-area .navbar-nav .dropdown-menu > a:hover {
        background: #f7fbfd;
        border: 2px solid #edeefd;
        border-radius: 3px;
        color: #000; }
      .wp-erp-header-area .navbar-nav .dropdown-menu > a i {
        width: 35px;
        height: 35px;
        line-height: 35px;
        text-align: center;
        color: #fff;
        font-size: 14px;
        margin-right: 15px;
        border-radius: 13px;
        background: #60b100;
        background: -webkit-linear-gradient(bottom, #60b100 0%, #a0ef00 100%);
        background: -o-linear-gradient(bottom, #60b100 0%, #a0ef00 100%);
        background: linear-gradient(to top, #60b100 0%, #a0ef00 100%); }
      .wp-erp-header-area .navbar-nav .dropdown-menu > a:nth-child(2) i {
        background: #059bf5;
        background: -webkit-linear-gradient(bottom, #059bf5 0%, #17c3f3 100%);
        background: -o-linear-gradient(bottom, #059bf5 0%, #17c3f3 100%);
        background: linear-gradient(to top, #059bf5 0%, #17c3f3 100%); }
      .wp-erp-header-area .navbar-nav .dropdown-menu > a:nth-child(3) i {
        background: #ff9632;
        background: -webkit-linear-gradient(bottom, #ff9632 0%, #ffbc61 100%);
        background: -o-linear-gradient(bottom, #ff9632 0%, #ffbc61 100%);
        background: linear-gradient(to top, #ff9632 0%, #ffbc61 100%); }
      .wp-erp-header-area .navbar-nav .dropdown-menu > a:nth-child(4) i {
        background: #927bff;
        background: -webkit-linear-gradient(bottom, #927bff 0%, #c678ff 100%);
        background: -o-linear-gradient(bottom, #927bff 0%, #c678ff 100%);
        background: linear-gradient(to top, #927bff 0%, #c678ff 100%); }
  .wp-erp-header-area .navbar-toggler {
    border: 1px solid #fff; }
    .wp-erp-header-area .navbar-toggler:focus {
      outline: 0; }
    .wp-erp-header-area .navbar-toggler .navbar-toggler-icon {
      background-image: url("../images/menu.png"); }

@media only screen and (min-width: 992px) {
  .dropdown:hover > .dropdown-menu {
    display: block; }

  .dropdown > .dropdown-toggle:active {
    pointer-events: none; } }
/* WELCOME AREA CSS */
.wp-erp-wel-area {
  position: relative;
  color: #fff;
  overflow: hidden; }
  .wp-erp-wel-area .section-padding {
    padding: 100px 0; }
  .wp-erp-wel-area .wp-erp-wel-content {
    padding-top: 130px; }
  .wp-erp-wel-area .wp-erp-home-thumb {
    position: relative;
    padding: 95px 55px 0 25px;
    margin: 30px -145px 0px -60px;
    z-index: 1; }
    .wp-erp-wel-area .wp-erp-home-thumb:after {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      content: '';
      background-image: url("../images/vector.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: top center;
      z-index: -1; }

/* BANNER AREA CSS */
.wp-erp-banner-box {
  position: relative;
  width: 100%;
  height: auto;
  background: #fff;
  padding: 40px 70px;
  margin-top: -33px;
  border-radius: 10px;
  z-index: 2; }
  .wp-erp-banner-box > img, .wp-erp-banner-box h3 {
    display: inline-block; }
  .wp-erp-banner-box > img {
    margin-right: 10px;
    float: left; }
  .wp-erp-banner-box h3 {
    margin-top: 25px;
    color: #b7bec2; }

/* FEATURE BLOCK AREA CSS */
.wp-erp-feature-block-area {
  width: 100%;
  overflow: hidden; }

.wp-erp-feature-block {
  width: 100%;
  text-align: center;
  border: 1px solid #e5eced;
  border-radius: 10px;
  padding: 40px; }
  .wp-erp-feature-block.gradient {
    background: #00bbf9;
    background: -webkit-linear-gradient(bottom, #00bbf9 0%, #0064eb 100%);
    background: -o-linear-gradient(bottom, #00bbf9 0%, #0064eb 100%);
    background: linear-gradient(to top, #00bbf9 0%, #0064eb 100%);
    border: none; }
    .wp-erp-feature-block.gradient > h3, .wp-erp-feature-block.gradient p {
      color: #fff; }

/* MODULE AREA CSS */
.module-bg-color {
  background: #f5f7f3;
  border-top: 1px solid #dce7f1;
  border-bottom: 1px solid #dce7f1; }

.wp-erp-module-area .wp-erp-module-desc > p {
  margin-bottom: 38px; }
.wp-erp-module-area .wp-er-module-image {
  margin-left: -210px; }
  .wp-erp-module-area .wp-er-module-image .wp-erp-module-badge {
    position: absolute;
    width: 121px;
    height: 116px;
    right: -46px;
    top: -60px; }
  .wp-erp-module-area .wp-er-module-image .wp-erp-module-pulsing {
    position: absolute;
    width: 80px;
    height: 80px;
    top: -43px;
    right: -24px;
    background: #059af6;
    background: -webkit-linear-gradient(bottom, #059af6 0%, #18c4f3 100%);
    background: -o-linear-gradient(bottom, #059af6 0%, #18c4f3 100%);
    background: linear-gradient(to top, #059af6 0%, #18c4f3 100%);
    line-height: 95px;
    text-align: center;
    border-radius: 30px;
    animation: shadow-pulse 2.5s infinite; }
@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(5, 154, 246, 0.4); }
  100% {
    box-shadow: 0 0 0 40px rgba(0, 0, 0, 0); } }
  .wp-erp-module-area .wp-er-module-image > img {
    max-width: 100%;
    border-radius: 10px; }

.wp-erp-toggle .card {
  background: #fff;
  margin-bottom: 10px;
  border: 2px solid #f4ede5;
  /*padding: 15px 30px;*/ }
  .wp-erp-toggle .card .card-header {
    background: #fff;
    border: none;
    padding: 0; }
    .wp-erp-toggle .card .card-header h4 a {
      padding: 15px 30px;
      display: block;
      color: #1b1b1b; }
      .wp-erp-toggle .card .card-header h4 a:hover {
        color: #1b1b1b; }
      .wp-erp-toggle .card .card-header h4 a .wp-erp-toggle-icon {
        width: 40px;
        height: 40px;
        display: inline-block;
        line-height: 40px;
        text-align: center;
        color: #fff;
        font-size: 15px;
        border-radius: 50%;
        margin-right: 25px;
        background: #8d78fa;
        background: -webkit-linear-gradient(bottom, #8d78fa 0%, #c878fe 100%);
        background: -o-linear-gradient(bottom, #8d78fa 0%, #c878fe 100%);
        background: linear-gradient(to top, #8d78fa 0%, #c878fe 100%); }
  .wp-erp-toggle .card .card-body {
    padding-top: 0;
    padding-left: 98px; }
.wp-erp-toggle .card:nth-child(2) .card-header h4 a .wp-erp-toggle-icon {
  background: #18d5e0;
  background: -webkit-linear-gradient(bottom, #18d5e0 0%, #47f1b0 100%);
  background: -o-linear-gradient(bottom, #18d5e0 0%, #47f1b0 100%);
  background: linear-gradient(to top, #18d5e0 0%, #47f1b0 100%); }
.wp-erp-toggle .card:last-child .card-header h4 a .wp-erp-toggle-icon {
  background: #fd8784;
  background: -webkit-linear-gradient(bottom, #fd8784 0%, #ffa277 100%);
  background: -o-linear-gradient(bottom, #fd8784 0%, #ffa277 100%);
  background: linear-gradient(to top, #fd8784 0%, #ffa277 100%); }

.hrm-btn .wp-erp-btn-fill {
  background: #dde7d7;
  padding: 15px 20px;
  color: #458200;
  border-radius: 3px;
  margin-right: 15px;
  /*@extend %shadow;*/
  font-weight: 700; }
  .hrm-btn .wp-erp-btn-fill:hover {
    background: #458200;
    color: #fff;
    /*@extend %hover-shadow;*/ }

.crm-btn .wp-erp-btn-fill {
  background: #e0e8f7;
  padding: 15px 20px;
  color: #2b62c9;
  border-radius: 3px;
  margin-right: 15px;
  /*@extend %shadow;*/
  font-weight: 700; }
  .crm-btn .wp-erp-btn-fill:hover {
    background: #2b62c9;
    color: #fff;
    /*@extend %hover-shadow;*/ }

.acc-btn .wp-erp-btn-fill {
  background: #eae3dc;
  padding: 15px 20px;
  color: #ba8c61;
  border-radius: 3px;
  margin-right: 15px;
  /*@extend %shadow;*/
  font-weight: 700; }
  .acc-btn .wp-erp-btn-fill:hover {
    background: #ba8c61;
    color: #fff;
    /*@extend %hover-shadow;*/ }

.pms-btn .wp-erp-btn-fill {
  background: #e0e8f7;
  padding: 15px 20px;
  color: #2b62c9;
  border-radius: 3px;
  margin-right: 15px;
  /*@extend %shadow;*/
  font-weight: 700; }
  .pms-btn .wp-erp-btn-fill:hover {
    background: #2b62c9;
    color: #fff;
    /*@extend %hover-shadow;*/ }

/* REVIEWS AREA CSS */
.wp-erp-reviews-area {
  background: #f5f7fa; }
  .wp-erp-reviews-area .wp-erp-btn-fill {
    background: #2b62c9;
    padding: 15px 20px;
    color: #fff;
    border-radius: 3px;
    margin-right: 15px;
    /*@extend %shadow;*/ }
    .wp-erp-reviews-area .wp-erp-btn-fill:hover {
      background: #2b62c9;
      color: #fff;
      /*@extend %hover-shadow;*/ }

.wp-erp-reviews-block {
  background: #fff;
  -webkit-box-shadow: 0px 10px 34px -2px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 10px 34px -2px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  padding: 35px;
  text-align: center;
  overflow: hidden; }
  .wp-erp-reviews-block > .wp-erp-reviews-desc {
    text-align: left;
    position: relative;
    margin-bottom: 35px; }
    .wp-erp-reviews-block > .wp-erp-reviews-desc:before {
      position: absolute;
      width: 47px;
      height: 36px;
      left: 0;
      top: -45px;
      content: '';
      background: url("../images/ql.png"); }
    .wp-erp-reviews-block > .wp-erp-reviews-desc:after {
      position: absolute;
      width: 44px;
      height: 33px;
      right: 0;
      bottom: -30px;
      content: '';
      background: url("../images/qr.png"); }
  .wp-erp-reviews-block .reviewer-thumb {
    width: 65px;
    height: 65px;
    margin: 0 auto;
    margin-bottom: 30px;
    border: 5px solid #fff;
    border-radius: 50%;
    overflow: hidden;
    -webkit-box-shadow: 0px 10px 34px -2px rgba(0, 0, 0, 0.09);
    box-shadow: 0px 10px 34px -2px rgba(0, 0, 0, 0.09); }
    .wp-erp-reviews-block .reviewer-thumb img {
      width: 100%;
      height: auto; }
  .wp-erp-reviews-block h4 {
    margin: 5px; }
    .wp-erp-reviews-block h4 + p {
      text-transform: uppercase;
      color: #2b62c9;
      margin-bottom: 0; }

/* CALL TO ACTION AREA CSS */
.wp-erp-call-to-action-area {
  position: relative;
  z-index: 1; }
  .wp-erp-call-to-action-area:after {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    content: '';
    background-image: url("../images/bg-shape.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left bottom;
    z-index: -1; }
  .wp-erp-call-to-action-area .wp-section-icon {
    position: absolute;
    width: 162px;
    height: 162px;
    overflow: hidden;
    border-radius: 50%;
    top: -81px;
    left: 50%;
    margin-left: -81px; }
    .wp-erp-call-to-action-area .wp-section-icon img {
      width: 100%; }
  .wp-erp-call-to-action-area .wp-erp-call-to-action-content {
    text-align: center; }
    .wp-erp-call-to-action-area .wp-erp-call-to-action-content h1 {
      color: #fff; }
  .wp-erp-call-to-action-area .wp-erp-btn-fill {
    background: #fff;
    padding: 15px 20px;
    color: #2b62c9;
    border-radius: 3px;
    margin-right: 15px;
    /*@extend %shadow;*/
    font-weight: 700; }
    .wp-erp-call-to-action-area .wp-erp-btn-fill:hover {
      background: #fff;
      color: #2b62c9;
      /*@extend %hover-shadow;*/ }

/* FOOTER WIDGETS AREA CSS */
.wp-erp-footer-widgets .wp-erp-widget {
  margin-bottom: 20px; }
  .wp-erp-footer-widgets .wp-erp-widget ul li a {
    padding-bottom: 10px;
    display: inline-block;
    font-size: 1em; }
  .wp-erp-footer-widgets .wp-erp-widget ul li:last-child a {
    padding-bottom: 0; }
  .wp-erp-footer-widgets .wp-erp-widget .wp-erp-btn-fill {
    background: #2b62c9;
    padding: 15px 20px;
    color: #fff;
    border-radius: 3px;
    margin-right: 15px;
    /*@extend %shadow;*/
    font-weight: 700; }
    .wp-erp-footer-widgets .wp-erp-widget .wp-erp-btn-fill:hover {
      background: #2b62c9;
      color: #fff;
      /*@extend %hover-shadow;*/ }

/* FOOTER AREA CSS */
.wp-erp-footer {
  width: 100%;
  background: #f2f6f8;
  border: 1px solid #dce7f1;
  padding: 27px 0; }
  .wp-erp-footer p {
    margin: 0; }
  .wp-erp-footer .wp-erp-social-networks ul li {
    display: inline; }
    .wp-erp-footer .wp-erp-social-networks ul li a {
      margin-right: 15px;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s; }
      .wp-erp-footer .wp-erp-social-networks ul li a.fab:hover {
        color: #0c87fb; }
      .wp-erp-footer .wp-erp-social-networks ul li a.twi:hover {
        color: #1da1f2; }
      .wp-erp-footer .wp-erp-social-networks ul li a.you:hover {
        color: #ff0000; }
      .wp-erp-footer .wp-erp-social-networks ul li a.goo:hover {
        color: #dd4b39; }

/* Responsive styles */
@media only screen and (min-width: 320px) and (max-width: 991px) {
  /* Styles */
  .wp-erp-header-area .navbar .wp-erp-btn {
    display: block;
    margin-left: 1rem;
    margin-bottom: 1rem;
    margin-right: 1rem; }
  .wp-erp-header-area .navbar .dropdown-menu {
    margin-left: 12px; }
  .wp-erp-header-area #wpERPNav {
    background: #059bf5;
    background: -webkit-linear-gradient(bottom, #059bf5 0%, #17c3f3 100%);
    background: -o-linear-gradient(bottom, #059bf5 0%, #17c3f3 100%);
    background: linear-gradient(to top, #059bf5 0%, #17c3f3 100%); }

  .wp-erp-wel-area .wp-erp-wel-content {
    text-align: center;
    padding-top: 0; }
    .wp-erp-wel-area .wp-erp-wel-content h1 br {
      display: none; }
    .wp-erp-wel-area .wp-erp-wel-content .wp-erp-btn {
      margin-bottom: 1rem; }
  .wp-erp-wel-area .wp-erp-home-thumb {
    margin: 50px 0 0 0;
    padding: 30px; }
    .wp-erp-wel-area .wp-erp-home-thumb img {
      width: 100%; }

  .wp-erp-banner-box {
    text-align: center; }
    .wp-erp-banner-box img {
      float: none; }
    .wp-erp-banner-box h3 {
      margin-top: 10px; }

  .wp-erp-feature-block {
    margin-bottom: 25px; }

  .wp-er-module-image {
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 25px; }
    .wp-er-module-image .wp-erp-module-badge {
      /*right: 0;*/
      right: 50% !important;
      margin-right: -60.5px; }
    .wp-er-module-image .wp-erp-module-pulsing {
      left: 50% !important;
      margin-left: -40px; }

  .crm-btn, .pms-btn {
    margin-bottom: 25px; }

  .wp-erp-reviews-block {
    margin-bottom: 25px; } }
@media only screen and (min-width: 320px) and (max-width: 667px) {
  .wp-erp-wel-area .wp-erp-wel-content h1 {
    font-size: 36px;
    line-height: 50px; }
    .wp-erp-wel-area .wp-erp-wel-content h1 br {
      display: none; }
  .wp-erp-wel-area .wp-erp-home-thumb {
    margin: 50px 0 0 0;
    padding: 30px; }
    .wp-erp-wel-area .wp-erp-home-thumb img {
      width: 100%; }

  .wp-erp-banner-box {
    padding: 20px; }

  .wp-erp-footer {
    text-align: center; } }

/*# sourceMappingURL=main.css.map */
