/* ------------ BASE CSS ------------ */
html,
body { height: 100% !important;  }
body {
    font-family: 'Roboto', sans-serif;
    color: #333333;
    font-size: 14px;
}
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #4c4c4c;
}
a:hover, a:focus { text-decoration: none; outline: 0 solid; color: #ab0534; }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin: 0 0 15px;
    color: #000;
}
h1{ font-family: 'Open Sans', sans-serif; font-size: 60px; line-height: 53px; }
h2{ font-family: 'Open Sans', sans-serif; font-size: 36px; }
h3{ font-size: 30px; }
h4{ font-size: 24px; }
h5{ font-size: 18px; line-height: 24px; }
h6{ font-size: 16px; }

p{
    line-height: 1.5em;
    color: #4c4c4c;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
input, input:focus, .form-control:focus, .navbar-toggler:focus {
    border-width: 0px;
    outline:0;
    -webkit-appearance:none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
/* Remove Chrome Input Field's Unwanted Yellow Background Color */
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

/* ------------ GLOBAL  ------------ */

.section-padding {
    padding: 85px 0;
    width: 100%;
    overflow: hidden;
}
.space-50, .space-60, .space-70, .space-80, .space-90, .space-100{
    width: 100%;
    clear: both;
}
.space-50{ height: 50px; } .space-60 { height: 60px; } .space-70 { height: 70px; } .space-80 { height: 80px; } .space-90 { height: 90px; } .space-100 { height: 100px; }
.divider{
    width: 100%;
    height: 1px;
    clear: both;
    background: #494679;
    margin: 20px 0;
}
.lined {
    position: relative;
    padding-bottom: 15px;
}
.lined:after {
    position: absolute;
    left: 50%;
    bottom: 0;
    height: 1px;
    background: #020202;
    width: 165px;
    content: '';
    margin-left: -82.5px;
}
.edu-bg-light{
    background-color: #f4f8ff;
}

/* -- BUTTON -- */
.edu-btn {
    display: inline-block;
    font-family: 'Open sans', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 16px;
    padding: 25px 60px;
    border-radius: 50px;
    -webkit-box-shadow: 0 3px 8px rgba(0,0,0,.2);
    box-shadow: 0 3px 8px rgba(0,0,0,.2);
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.edu-btn:hover, .quick-btn:hover{
    -webkit-box-shadow: 0 2px 18px rgba(0,0,0,.3);
            box-shadow: 0 2px 18px rgba(0,0,0,.3);
}
.edu-btn-borderd {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    letter-spacing: normal;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 2px solid #111111;
    padding: 12px 45px;
    color: #111111;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.edu-btn-borderd:hover {
    border: 2px solid #ab0534;
    color: #ab0534;
}

/* ------------ HEADER  ------------ */

.edu-header .navbar-brand {
    font-size: 42px;
    font-weight: bold;
    margin-right: 40px;
    display: block;
    padding: 0;
}
.edu-header .navbar-brand span {
    font-weight: 300;
}
.mainmenu ul li {
    display: inline-block;
}
.mainmenu ul li a {
    display: block;
    padding: 25px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}
.position-absolute {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.2);
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
    z-index: 99;
}
.position-absolute a {
    color: #fff;
}
.edu-header-meta a {
    display: inline-block;
    margin-right: 35px;
    font-size: 14px;
    font-family: "Open sans", sans-serif;
    font-weight: 500;
}
.edu-header-meta a i {
    font-size: 13px;
    margin-right: 5px;
}
.edu-header-meta {
    color: #fff;
}
.edu-header-meta a:nth-child(3) {
    margin-right: 5px;
}
.edu-header-meta a:last-child{
    margin-right: 0;
}

/* ------------ HOMEPAGE  ------------ */

.edu-homepage-slides {
    position: relative;
    width: 100%;
    height: 100%;
    background: #ab0534;
    padding: 110px 0;
    overflow: hidden;
    z-index: 1;
}
.edu-homepage-slides:after {
    position: absolute;
    width: 550px;
    height: 421px;
    bottom: -1px;
    left: 50%;
    content: '';
    background-image: url(assets/images/skill-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: -275px;
    z-index: -1;
}
.edu-homepage-slides:after {
    position: absolute;
    bottom: -1px;
    left: 50%;
    content: '';
    background-image: url(assets/images/skill-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}
@media only screen and (min-width: 768px) and (max-width: 1366px) { 
    .edu-homepage-slides:after {
        width: 400px;
        height: 306px;
        margin-left: -200px;
    }
}
@media only screen and (min-width: 1367px) and (max-width: 1600px) { 
    .edu-homepage-slides:after {
        width: 550px;
        height: 421px;
        margin-left: -275px;
    }
}
.edu-single-slide-item {
    width: 100%;
    height: 100%;
}
/*.edu-slide-item-table {
    display: table;
    width: 100%;
    height: 100%;
}

.edu-slide-item-tablecell {
    display: table-cell;
    vertical-align: middle;
}*/
.edu-slide-content h1, .edu-slide-content p, .edu-slide-content a {
    color: #fff;
}
.edu-slide-content p {
    font-size: 24px;
    font-family: 'Open sans', sans-serif;
    color: #f4f8ff;
}

/* ------------ FEATURE COURSES ITEM  ------------ */

.edu-feature-course-list-item {
    position: relative;
    display: block;
    padding: 35px 10px;
    margin-bottom: 30px;
    overflow: hidden;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}
.edu-feature-course-list-item:after {
    position: absolute;
    top  : 10%;
    right    : 0;
    width  : 1px;
    height   : 80%;
    content : "";
    background: #a6a6a6;
    z-index: 100;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}
.edu-feature-course-list-item:before {
    position: absolute;
    top  : 10%;
    left    : 0;
    width  : 1px;
    height   : 80%;
    content : "";
    background: #a6a6a6;
    z-index: 100;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}
.borderd-line{
    position: absolute;
    top: 0;
    left: 10%;
    width: 80%;
    height: 1px;
    content : "";
    background: #a6a6a6;
    z-index: 11;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}
.borderd-line-two{
    position: absolute;
    left: 10%;
    bottom: 0;
    width: 80%;
    height: 1px;
    content : "";
    background: #a6a6a6;
    z-index: 11;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}
.edu-feature-course-list-item:hover, .edu-feature-course-list-item:hover:after, .edu-feature-course-list-item:hover:before, .edu-feature-course-list-item:hover .borderd-line, .edu-feature-course-list-item:hover .borderd-line-two {
    background: #ab0534;
}
.edu-feature-course-list-item:hover .edu-course-list-icon, .edu-feature-course-list-item:hover .edu-course-list-icon + h6 {
    color: #fff;
}
span.edu-course-list-icon {
    font-size: 36px;
    color: #ab0534;
    display: inline-block;
}
.edu-feature-course-list-item h6 {
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #333;
}

/* ------------ TOP COURSES SECTION ITEM  ------------ */

.edu-top-courses-list .card {
    border: 0;
    border-radius: 0;
    margin-bottom: 30px;
    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,.2);
    box-shadow: 0 1px 5px rgba(0,0,0,.2);
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.top-courses-thumbnail img {
    border-radius: 0;
    position: relative;
}
.top-courses-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: #ab0534;
    color: #fff;
    opacity: 0;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.top-courses-thumbnail {
    position: relative;
}
.edu-top-courses-list .card h5 a, .edu-blog-carousel-single-item h5 a{
    font-weight: bold;
    color: #000;
}
.top-courses-hover img {
    max-width: 55px;
}
.top-courses-hover-table {
    display: table;
    width: 100%;
    height: 100%;
}
.top-courses-hover-tablecell {
    display: table-cell;
    vertical-align: middle;
}
.course-rating{
    color: #ed8000;
    font-size: 13px;
}
.course-rating-red{
    color: #ab0534 !important;
}
.edu-top-courses-list .card .card-body h4 {
    color: #ab0534;
}
.edu-top-courses-list .card:hover{
    -webkit-box-shadow: 0 3px 25px rgba(0,0,0,.1);
    box-shadow: 0 3px 25px rgba(0,0,0,.1);
}
.top-courses-thumbnail:hover .top-courses-hover{
    opacity: .65;
}

/* ------------ QUICK BUTTON  ------------ */

.quick-btn {
    width: 100%;
    height: 100px;
    text-align: center;
    position: relative;
    background: #c7166f;
    line-height: 100px;
    z-index: 1;
    border-radius: 5px;
    margin-bottom: 20px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.quick-btn a {
    display: block;
    color: #fff;
    font-weight: 700;
    font-size: 24px;
    text-transform: capitalize;
}
.quick-btn:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    content: '';
    background-image: url('assets/images/vector.png');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .15;
    background-position: center center;
}
.quick-btn-2{
    background: #6c16c7;
}
.quick-btn-3{
    background: #2516c7;
}

/* ------------ PROMO ITEM SECTION  ------------ */

.edu-promo-box{
    border-top: 1px solid #e5e5e5;
}
.edu-single-promo-box {
    width: 100%;
    padding: 50px;
    margin-bottom: 30px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.edu-single-promo-box p {
    margin-bottom: 0;
}
.edu-promo-box-icon {
    font-size: 55px;
    display: inline-block;
    margin-bottom: 20px;
}
.edu-promo-box-icon img{
    max-width: 90px;
    height: auto;
}
.edu-single-promo-box:hover{
    -webkit-box-shadow: 0 3px 25px rgba(0,0,0,.1);
    box-shadow: 0 3px 25px rgba(0,0,0,.1);
}

/* ------------ BLOG POSTS SECTION  ------------ */

.post-meta-top, .post-meta-top span a {
    color: #666;
    font-size: 14px;
}
.post-meta-top span {
    display: inline-block;
}
.post-meta-top span {
    display: inline-block;
}
.post-meta-top span:nth-child(2) {
    float: right;
}
.post-meta-top span i {
    margin-right: 3px;
}
.post-meta-bottom > span, .post-meta-bottom > a {
    font-size: 14px;
    color: #ab0534;
}
.post-meta-bottom a i {
    margin-left: 5px;
}
.post-meta-bottom-right{
    display: inline-block;
    float: right;
}
.post-meta-bottom-right span, .post-meta-bottom-right span a {
    font-size: 14px;
    color: #999999;
}
.post-meta-bottom-right span {
    display: inline-block;
    margin-left: 8px;
}
.edu-blog-carousel .owl-dots {
    text-align: center;
}
.edu-blog-carousel .owl-dots button {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    margin-right: 8px;
    border: 3px solid #acacac;
}
.edu-blog-carousel .owl-dots button.active {
    background: #4d4d4d;
    border: 3px solid #4d4d4d;
}
.edu-blog-carousel .owl-dots button:focus{
    outline: 0;
}
.edu-blog-carousel-single-item{
    width: 100%;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    margin-bottom: 20px;
}
.edu-blog-carousel-single-item:hover{
    -webkit-box-shadow: 0 3px 25px rgba(0,0,0,.1);
    box-shadow: 0 3px 25px rgba(0,0,0,.1);
}

/* ------------ TESTIMONIAL SECTION  ------------ */

.edu-testimonial-single-item {
    position: relative;
    padding: 32px 90px 0 0;
}
.edu-testimonial-single-item > p {
    padding-left: 35px;
    font-size: 18px;
    font-style: italic;
}
.edu-testimonial-single-item:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 82px;
    height: 76px;
    content: '';
    background-image: url('assets/images/quot.png');
}
.test-client-avatar {
    width: 80px;
    height: 80px;
    margin-right: 15px;
    float: left;
    border-radius: 50%;
    overflow: hidden;   
}
.test-client-profile {
    width: 100%;
    overflow: hidden;
}
.test-client-profile h6 {
    margin-top: 20px;
    margin-bottom: 5px;
}

/* -- VIDEO BOX -- */

.edu-video-box {
    display: block;
    position: relative;
    border: 10px solid #edf1f2;
    margin-left: 50px;
}
.edu-video-box img {
    width: 100%;
    height: auto;
}
.video-play-icon {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    font-size: 55px;  
}
.video-play-icon-table {
    display: table;
    width: 100%;
    height: 100%;
}
.video-play-icon-tablecell {
    display: table-cell;
    vertical-align: middle;
}
.border-style {
    position: relative;
    padding-bottom: 40px;
}
.border-style:before {
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 100%;
    width: 1px;
    content: '';
    background: #e6e7e8;
    margin-left: .5px;
}
.border-style:after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 1px;
    background: #e6e7e8;
}

/* ------------ CLIENTS LOGO SECTION  ------------ */

.edu-clients-list-single-item img{
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.edu-clients-list-single-item:hover img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}
.edu-clients-list .owl-nav button {
    position: absolute;
    left: 0;
    top: 50%;
    font-size: 36px !important;
    line-height: 36px !important;
    color: #c8ced2 !important;
    margin-top: -16px;
}
.edu-clients-list .owl-nav button.owl-next {
    left: auto;
    right: 0;
}
.edu-clients-list .owl-nav button:focus{
    outline: 0;
}
.edu-clients-list{
    padding: 0 90px;
}

/* ------------ EMAIL SUBSCRIPTION SECTION  ------------ */
.edu-email-subs-area {
    position: relative;
    background-image: url('assets/images/email.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: 1;
}
.edu-email-subs-area:after {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #fff;
    opacity: .66;
    content: '';
    z-index: -1;
}
.edu-mail-subs {
    width: 100%;
    height: 68px;
    position: relative;
    background: #fff;
    display: block;
    border-radius: 50px;
}
.edu-mail-subs input[type='email'] {
    position: absolute;
    left: 0;
    top: 0;
    width: 70%;
    height: auto;
    display: block;
    border: 0;
    padding: 22px;
    font-size: 16px;
    background: transparent;
}
.edu-mail-subs input[type="submit"] {
    position: absolute;
    top: 4px;
    right: 0;
    font-size: 16px;
    width: 30%;
    border: 0;
    padding: 18px 0;
    text-transform: uppercase;
    font-weight: 500;
    background: #ab0534;
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
}

/* ------------ FOOTER SECTION  ------------ */
.footer{
    background: #292662;
}
.footer-widget h5 {
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 10px;
}
.footer-widget h5, .footer-widget p, .footer-widget a {
    color: #fff;
}
.footer-widget p {
    margin-bottom: 5px;
}
.footer-widget ul li a {
    font-size: 14px;
    font-weight: 400;
    display: block;
    padding: 5px 0px;
}
.footer-widget p {
    font-size: 14px;
}


/* ------------ RESPONSIVE DESIGN  ------------ */

@media only screen and (max-width: 767px) {
    .edu-header{
        background-color: #ab0534;
    }
    .edu-header .navbar{
        background: #ab0534;
    }
    .mainmenu ul li a {
        padding: 10px 0;
    }
    .edu-header-meta {
        margin: 5px 0 20px 0;
        text-align: left !important;
    }
    .edu-header .navbar-toggler-icon {
        background-image: url('assets/images/tg.png');
    }
    .edu-header-meta a:nth-child(1), .edu-header-meta a:nth-child(2){
        display: none;
    }
    .edu-header-meta span{
        display: none;
    }
    .edu-header-meta a{
        display: block;
    }
    .edu-slide-content h1{
        font-size: 40px;
    }
    .edu-slide-content p{
        font-size: 20px;
    }
    .edu-slide-content .edu-btn{
        padding: 20px 40px;
        font-size: 14px;
    }
    .edu-homepage-slides::after{
        /*width: 70%;
        height: 30%;
        bottom: -1px;
        left: 15%;
        margin-left: 0px;*/
        display: none;
    }
    .edu-slide-item-table {
        display: table;
        width: 100%;
        height: 100%;
    }
    .edu-slide-item-tablecell {
        display: table-cell;
        vertical-align: middle;
    }
    .edu-testimonials{
        margin-bottom: 10px;
        padding-bottom: 20px;
        border-bottom: 1px solid #e6e7e8;
    }
    .edu-video-box{
        margin: 15px;
    }
    .edu-testimonial-single-item{
        padding-right: 0;
    }
    .edu-video-box{
        margin-left: 0;
    }
    .border-style::before {
        display: none;
        visibility: hidden;
    }
    .footer-widget{
        margin-bottom: 40px;
    }
    .section-heading{
        text-align: center;
    }
    .section-heading br {
        display: none;
    }
    .section-button{
        text-align: center;
    }
    .res-text{
        text-align: center !important;
    }
    .email-subs-heading h2{
        font-size: 25px;
    }

}