/* FEATURE BLOCK AREA CSS */
.wp-erp-feature-block-area{
	width: 100%;
	overflow: hidden;
}
.wp-erp-feature-block{
	width: 100%;
	text-align: center;
	border: 1px solid #e5eced;
	border-radius: $radius;
	padding: 40px;
	&.gradient{
		@include iconGradient( #00bbf9, #0064eb );
		@extend %shadow;
		border: none;
		> h3, p{
			color: #fff;
		}
	}
}