/* HEADER AREA CSS */
.wp-erp-header-area{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 9;
	a {
		color: #fff;
		font-size: $font-size;
	}
	.navbar{
		padding: 20px 0;
		.wp-erp-btn{
			color: #4ed3ff;
			border: 1px solid transparent;
			padding: 10px 20px;
			border-radius: 3px;
			@include transition(.3s);
			&:hover{
				border: 1px solid #4ed3ff;
			}
		}
		.wp-erp-btn-fill{
			@include buttonFill(#fff, #2b62c9, #fff, #2b62c9);
			padding: 10px 20px;
			margin-right: 0;
			&:hover{
				border: 1px solid #fff;
			}
		}
	}
	.navbar-nav{
		> li a{
			padding: 6px 12px !important;
			@include transition(.3s);
			&:hover{
				background: #0e72f9;
				color: #47c7fc;
			}
		}
		.dropdown-toggle:after{
			border: none;
			width: 10px;
			height: 6px;
			margin-left: 11px;
			vertical-align: middle;
			background-image: url('../images/arrow.png');
			background-repeat: no-repeat;
			background-position: top center;
			background-size: cover;
			@include transition(.08s);
		}
		.dropdown-toggle:hover:after{
			background-position: 0px -6px;
		}
		.dropdown-menu{
			padding: 12px;
			border: none;
			width: 254px;
			@extend %shadow;
			> a{
				color: #737779;
				font-size: $font-size;
				padding: 15px !important;
				border: 2px solid #fff;
				border-radius: 3px;
				&:hover{
					background: #f7fbfd;
					border: 2px solid #edeefd;
					border-radius: 3px;
					color: #000;
				}
				i{
					width: 35px;
				    height: 35px;
				    line-height: 35px;
				    text-align: center;
				    color: #fff;
				    font-size: 14px;
				    margin-right: 15px;
				    border-radius: 13px;
				    @include iconGradient( #60b100, #a0ef00 );
				}
				&:nth-child(2) i {
					@include iconGradient( #059bf5, #17c3f3 );
				}
				&:nth-child(3) i {
					@include iconGradient( #ff9632, #ffbc61 );
				}
				&:nth-child(4) i {
					@include iconGradient( #927bff, #c678ff );
				}
			}
		}
	}
	.navbar-toggler{
		border: 1px solid #fff;
		&:focus{
			outline: 0;
		}
		.navbar-toggler-icon{
			background-image: url('../images/menu.png');
		}
	}
}
@media only screen and (min-width : 992px) {
	.dropdown:hover>.dropdown-menu {
	  display: block;
	}
	.dropdown>.dropdown-toggle:active {
	    pointer-events: none;
	}
}