/* WELCOME AREA CSS */
.wp-erp-wel-area{
	position: relative;
	color: #fff;
	overflow: hidden;
	@extend %gradient;
	.section-padding{
		padding: 100px 0;
	}
	.wp-erp-wel-content{
		padding-top: 130px;
		.wp-erp-btn-fill{
			&:first-child{
				@extend %shadow;
			}
		}
	}
	.wp-erp-home-thumb{
		position: relative;
		padding: 95px 55px 0 25px;
		margin: 30px -145px 0px -60px;
		z-index: 1;
		&:after{
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			content: '';
			background-image: url('../images/vector.png');
			background-size: contain;
			background-repeat: no-repeat;
			background-position: top center;
			z-index: -1;
		}
	}
}